@import "../styles.scss";

.login-container {
  @include simple-flex(center, center, column);
  height: 100%;
  margin: 0 16px;

  .logo-img {
    width: 180px;
    height: auto;
  }

  .form-container {
    width: 100%;
    padding: 39px 0;
    display: flex;
    flex-direction: column;

    .input-form {
      height: 44px;
      margin: 6px 0;
      padding: 0 15px;
      background-color: $background-secondary;
      border: 0.5px solid #0000001a;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }

    .forgot-password {
      font-family: Arial;
      cursor: pointer;
      font-size: 12px;
      margin: 19px 0;
      text-decoration: none;
      align-self: flex-end;
      color: $highlight-color;
    }

    .btn-submit {
      cursor: pointer;
      width: 100%;
      height: 44px;
      color: #ffffff;
      background-color: $highlight-color;
      border: none;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }
}
