@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./extends.scss";

*,
p {
  font-family: Arial;
}

body {
  background-color: $background-primary;
}

%action-icons {
  width: 24px;
  height: auto;
  cursor: pointer;
  margin: 0 15px;
}

.tab-bar {
  @include simple-flex(space-between, center, row);
  width: 100%;
  background-color: $background-secondary;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #e2e2e2;

  @media ($desktop-breakpoint) {
    display: none;
  }

  .action-icon {
    @extend %action-icons;
    width: 22px;
  }
}
