$background-primary: #fafafa;
$background-secondary: #f2f2f2;

$text-color: #262626;
$highlight-color: #3797ef;

$desktop-breakpoint: "min-width: 768px";
$huge-breakpoint: "min-width: 1000px";

$border-box: 1px solid #dbdbdb;
