$background-primary: #fafafa;
$background-secondary: #f2f2f2;

$text-color: #262626;
$highlight-color: #3797ef;
$highlight-contrast-color: #fff;

$separator-text: rgba(0, 0, 0, 0.4);
$separator-line: rgba(0, 0, 0, 0.2);

$search-background: rgba(118, 118, 128, 0.12);
$search-text: rgba(60, 60, 67, 0.6);

$border-tags: rgba(60, 60, 67, 0.18);
